[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version      = "3.6"

[packages]
Flask               = "==1.0.2"
requests            = ">=2.20.1"
ansible             = "==2.7.10"
docker-compose      = "==1.24.0"
pyyaml              = ">=3.13"
coloredlogs         = "==10.0"
prometheus_client   = "==0.6.0"
redis               = "==3.2.1"

[dev-packages]
pylint              = "==2.3.1"
mock                = "==3.0.5"
green               = "==2.16.1"
responses           = "==0.10.6"
coverage            = "==4.5.3"