[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6.5"

[packages]
Flask = "==1.0.2"
requests = "==2.18.4"
ansible = "==2.6.4"
docker-compose = "==1.22.0"
pyyaml = "==3.13"
coloredlogs = "==10.0"
prometheus_client = "==0.3.1"

[dev-packages]
pylint = "*"
mock = "==2.0.0"
green = "==2.12.1"
responses = "==0.9.0"
coverage = "==4.5.1"