[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
Flask = "==1.0.2"
requests = "==2.20.1"
ansible = "==2.7.4"
docker-compose = "==1.23.2"
pyyaml = "==3.13"
coloredlogs = "==10.0"
prometheus_client = "==0.3.1"
redis = "==2.10.6"
pycrypto = "==2.6.1"
memory-profiler = "==0.55.0"
objgraph = "==3.4.0"
mem_top = "==0.1.6"

[dev-packages]
pylint = "*"
mock = "==2.0.0"
green = "==2.12.1"
responses = "==0.10.4"
coverage = "==4.5.1"